.content-top{
	margin: 25px;
}
.ad-top img{
	width: 100%;
	margin-bottom: 10px;
}
.carousel-inner {
    margin: 8px auto;
}
@media only screen and (max-width: 767px) {
	.add{
		display: none;
	}
}
@media only screen and (max-width:1024px) and (min-width: 768){
	.menu{
		display:none;
	}
}