/* add custom css codes */

/* Home page */
.ves-slideshow {
    border-top: 2px solid #fff;
}
.ves-slideshow img {
    width: 100%;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top:45%;
    z-index: 99;
    cursor: pointer;
    border-radius:50%;
    border:2px solid #e6e6e6;
    color: #e6e6e6;
    text-align: center;
    line-height: 40px;
   /* background: rgba(255, 255, 255, 0.5);*/
    font-size: 20px;
    font-weight: 700;
    width: 40px;
    height: 40px;
}
.owl-carousel .owl-nav .owl-prev {
    content: "<";
    left: -7% !important;
}
.owl-carousel .owl-nav .owl-next {
    content: ">";
    right: 0% !important;
}
.ves-masstop .ves-widget .block-content .etabs li a.active {
    color: #ff5560 !important;
    font-weight: bold;
}
.block.widget .product-item-info {
    text-align: center;
    padding:20px;
}
.brand-slider {
    position: relative;
}
.brand-slider .owl-controls .owl-nav .left,
.brand-slider .owl-controls .owl-nav .right {
    position: absolute;
    top:40%;
    z-index: 99;
    cursor: pointer;
    border-radius:50%;
    border:2px solid #e6e6e6;
    color: #e6e6e6;
    text-align: center;
    line-height: 40px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 700;
    width: 40px;
    height: 40px;
}
.brand-slider .owl-controls .owl-nav .left {
    left: 2% !important;
    top:26%;
}
.brand-slider .owl-controls .owl-nav .right {
    right: 2% !important;
    top:26%;
}
.product-block .product-image {
    display: inline-block;
    height: 230px;
    max-height: 230px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.product-item-details {
    height: 115px;
    max-height: 115px;
    overflow: hidden;
}
.product-block .product-img {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

/* menu */
nav .ui-menu-item {
    border-bottom: 1px solid #ccc;
    margin: 0;
    position: relative;
}
.navigation .level0 .submenu .submenu {
    left: 100%;
    top: -1px !important;
}
.submenu .ui-menu-icon.ui-icon.ui-icon-carat-1-e {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: black;
    border-image: none;
    border-style: solid;
    border-width: 0 2px 2px 0;
    display: none!important;
    float: right;
    padding: 3px;
    position: absolute;
    right: 10px;
    top: 32%;
    transform: rotate(-45deg);
}

/* product view page */
.catalog-product-view .page-main .page-title-wrapper h1 {
    font-size: 21px !important;
    font-weight: 600 !important;
    text-transform: unset !important;
}
.block.related .block-content .block-actions {
    display: none;
}
.block.related .content .products-grid .product-item {
    width: 25%;
}
.block.related .content .product-item .field.choice {
    display: none;
}
.block.related .product.name.product-item-name {
    height: 60px;
    max-height: 60px;
    overflow: hidden;
}
.product.attribute.description li {
    margin: 0;
}
.block.related .product-image-photo {
    height: 100%;
    width: 85%;
}
.block.related .block-title.title {
    text-align: center;
}
.block .title strong {
    font-size: 22px;
    font-weight: 600;
}
.product-items.no-display {
    display: none !important;
}
.sidebar .block {
    padding: 10px !important;
}
.sidebar .product-items .product-item-info .product-item-photo {
    width: 20% !important;
}
.sidebar .product-items .product-item-details {
    text-align: left !important;
    width: 78% !important;
}
.block.upsell .products-grid .product-item {
    width: 25%;
}
.block.upsell .product-image-photo {
    height: 100%;
    width: 85%;
}
.block.upsell .product.name.product-item-name {
    height: 60px;
    max-height: 60px;
    overflow: hidden;
}
.sidebar .product-items .product-item-name {
    height: 65px;
    max-height: 65px;
    overflow: hidden;
}
.sidebar .block.block-reorder {
    display: none !important;
}
.filter .block-subtitle {
    /*font-size: 18px !important;
    font-weight: 500 !important;
    padding: 10px 10px 15px !important;
    text-transform: uppercase !important;*/
    font-size: 15px !important;
    font-weight: 500 !important;
    padding: 10px 10px 10px !important;
    text-transform: uppercase !important;
    background: #ff5560;
    color: #fff;

}
.filter-options-title {
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 5px 40px 0 10px !important;
    text-transform: capitalize !important;
}
.filter-options-content {
    margin: 0 !important;
    padding: 10px 15px !important;
}
.filter-content .item {
    font-size: 13px !important;
    margin: 5px 0 !important;
}
.filter-options-title::after {
    top: 5px !important;
}
.filter-options-item {
    border-bottom: medium none !important;
    padding-bottom: 7px !important;
}
.catalog-category-view .page-main .page-title-wrapper {
    margin-top: 0 !important;
}
.catalog-category-view .page-main .page-title-wrapper h1 {
    font-size: 35px !important;
    text-transform: uppercase;
    margin-bottom: 10px!important;
}



/*css changes*/

.minicart-wrapper{
    float:none!important;
    margin-left: 0 !important;
}
.page-header .ves-header .grid-03{
    width: 7%!important;
    float: right!important;
    margin:-8px 35px;
    line-height:normal!important;

}
.custom-group-search.active .block-custom1 {
    top: 17px;
    margin-left:-252px;
}
.block-search .action.search{
    display:none!important;
}
.block-search{
    width: 280px!important;
    padding:0!important;
}
nav .ui-menu-item{
    border-bottom:none;
}
.ves-masstop .ves-widget .block-content .etabs li a{
        font-size: 18px!important;
        font-weight: bold!important;
}
.home-slider .owl-carousel{
    margin-left:0!important;
    margin-right:0!important;
}
.home-slider .owl-carousel .owl-nav .owl-next{
    right:2%!important;
}
.home-slider .owl-carousel .owl-nav .owl-prev{
   left:2%!important;
}
/*.navigation .level0 .submenu{
    position: relative!important;
}
.navigation .level0 .submenu .submenu{
    top: 0%!important;
    left: 0% !important;
}*/

.filter.block{
    margin-bottom: 20px!important;
}
.abs-margin-for-blocks-and-widgets-desktop, .page-main .block, .customer-review .product-details{
    margin-bottom: 20px!important;
}
/*.page-products .products-grid .product-item:hover .product-block{
    border: 1px solid #ccc;
    padding:5px;
}*/
.product-block .product-item-details .product-item-name{
    margin-top: 15px;
}
.product-options-bottom .price-box, .product-info-price .price-box{
    display:inherit!important;
}
.product-info-main .product-info-stock-sku{
    display:inherit!important;
    padding-left:0%;
    text-align: left;
    float:left;
}
.account .sidebar-additional{
    margin-top: 0px!important;
}
.product-block .product-image .product-item-actions .actions-secondary .add-to-wishlist, 
.product-block .product-image .product-item-actions .actions-secondary .add-to-compare{
    background: #ff5560!important;
    border-radius:10px!important;
}
.product-block .product-image .product-item-actions .actions-primary .add-to-cart:hover, 
.product-block .product-image .product-item-actions .actions-primary .add-to-cart:focus {
    background: #ff5560!important;
    color:#fff!important;
}
.product-block .product-image .product-item-actions .actions-primary .add-to-cart{
    color: #fff!important;
    border-radius: 10px!important;
}
.product-block .product-image .product-item-actions .actions-primary .tocart{
    color: #fff!important;
    border-radius: 10px!important;
    border: none !important;
}
.product-block .product-image .product-item-actions .actions-primary .tocart:hover{
    background: #ff5560!important;
}
.product-item-actions .actions-primary + .actions-secondary > .action{
    margin-right: 0px!important;
    background:#ff5560!important;
    padding: 6px;
    color:#fff!important;
    border-radius: 10px!important;
}
.product-block .product-item-info:hover{
    border:1px solid #ccc;
}
.product-item-name a {
    font-weight: 400!important;
    font-size: 16px;
}
.block-content .products-grid .product-item-info{
    border:1px solid #ccc;
}
.product-block .product-item-info{
    border:1px solid transparent;
}
.block-compare .counter, .block-wishlist .counter{
    margin: 5px 2px 2px 2px;
    color:#fff;
}
.block-compare .block-title,
 .block-reorder .block-title, 
 .widget .block-title,
  .block-wishlist .block-title{
    font-size: 15px !important;
    font-weight: 500 !important;
    padding: 7px 7px 7px 10px !important;
    text-transform: uppercase !important;
    background: #ff5560;
    color: #fff;
  }
  .sidebar .block.block-new-products .block-title strong{
    background: #ff5560;
    font-size: 15px !important;
  }
  .sidebar .block {
    padding: 10px !important;
    border: none !important;
    background: #fff;
}
.ves-masstop .ves-widget .block-title, .ves-masstop .block-new-products .block-title{
    background: none;
    color: #333;
    padding: 0px !important;

}
.navigation .level0{
    position:relative;!important;
}
.top_search_group, .account_login_group, .setting_link_group{
    margin-left: 0px!important;
}
@media only screen and (max-width: 767px){
    .page-footer .footer-center{
        font-size: 12px!important;
    }
    .brand-slider .owl-controls .owl-nav .left, .brand-slider .owl-controls .owl-nav .right{
        width: 25px!important;
        height: 25px!important;
        line-height: 25px!important;
        top:26%!important;

    }
    .brand-slider .owl-controls .owl-nav .right{
        right: 7%!important;
    }
    .brand-slider .owl-controls .owl-nav .left{
       left: 7%!important;
    }
    .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
        width: 20px !important;
        height: 20px !important;
        line-height: 20px !important;
        top: 47% !important;
    }
    .owl-carousel{
        margin-left:22px;
    }
    .product-item-name a{
        font-size:15px;
    }
    .navigation .level0 .submenu{
        top:0!important;
    }
}
.page-header{
    background: #fff!important;
}
.navigation .level0 > .level-top{
    color:#050404!important;
}
.custom-group-search .action.icon-custom1, .custom-group-account 
.action.icon-custom1, .custom-group-setting .action.icon-custom1, 
.custom-group-search .action.icon-custom2, .custom-group-account 
.action.icon-custom2, .custom-group-setting .action.icon-custom2, 
.custom-group-search .action.icon-custom3, .custom-group-account 
.action.icon-custom3, .custom-group-setting .action.icon-custom3{
    color:#ff5560!important;
}
}
.minicart-wrapper .action.showcart::before{
    color:#050404!important;
}
ul.level2.submenu.ui-menu.ui-widget.ui-widget-content.ui-corner-all.expanded {
    display: none!important;
}
body {
    background-color: #f2f2f2!important;
}
.ves-masstop .ves-widget .block-title strong, 
.ves-masstop .block-new-products .block-title strong{
    background: #f2f2f2!important;
    font-size: 33px!important; 
}
.cms-home .ves-masstop{
    margin-top: 30px!important;
}
.page-header{
    height:55px!important;
}
.page-header .ves-header .grid-02{
    padding: 4px 23px !important;
    text-align: left!important;
}
/*.page-header .ves-header .grid-07{
    height:55px!important;
}*/
.page-header .nav-sections{
    margin:-8px 0px!important;
}
.navigation .level0 .submenu{
    top:65px!important;
}
.breadcrumbs{
    margin-bottom: 10px!important;
    max-width: 100%!important;
}
.product-block .product-image .product-item-actions .actions-secondary .add-to-wishlist, 
.product-block .product-image .product-item-actions .actions-secondary .add-to-compare{
 color:#fff!important;
}
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"]{
    display:block!important;
    padding: 0px!important;
}
.block-compare .action.primary{
background: none!important;
border: none!important;
color: #ff5560!important;
font-size: 15px!important;
font-weight: unset!important;
padding:5px!important;
}
.sidebar .product-items .product-item-info{
    padding: 0!important;
}
.product-info-main .page-title-wrapper h1{
    margin-bottom: 0px!important;
}
.box-tocart .action.tocart{
    line-height: 1.2rem!important;
    font-size: 15px!important;
}
.page-main{
    max-width:100%!important;
}
.product-info-main .product-info-price{
    margin-bottom: 0px!important;
}
.swatch-opt{
    margin:0!important;
}
.ves-massbottom .container {
    border-top:none!important;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
    background: #fff!important;
}
.ves-massbottom.page-main {
    padding: 0!important;
}
.ves-massbottom{
margin-bottom: 0px !important;
}
.custom-footer .block {
    width:18%;
    float:left;
}
.custom-footer{
    float: inherit!important;
    width: 85%!important;
    margin:0 auto;
    position: relative;
}
.page-footer .footer-center{
  padding: 26px 0 5px!important;
  font-size: 13px!important;
}
.block-compare .block-title strong, 
.block-reorder .block-title strong, 
.widget .block-title strong, 
.block-wishlist .block-title strong{
    font-size: 15px!important;
}
.rating-summary .rating-result > span::before {
    color: #ff5560!important;
}
.review-control-vote label::before, .review-control-vote::before{
    font-size:25px;
}
.page-footer .footer-top{
    padding-bottom: 30px!important;
}
.brand-slider #owl-demo{
    padding: 0px 60px;
}
.brand-slider #owl-demo .item{
    margin: 0px 5px;
}
.custom-group-search .block-custom1:before{
    display: none!important;
}
.custom-group-search .block-custom1:after{
    display:none!important;
}
._keyfocus *:focus, input:not([disabled]):focus, 
textarea:not([disabled]):focus, select:not([disabled]):focus{
    box-shadow: none!important;
}
.breadcrumbs ul{
    padding: 13px 5px 0 0px !important;
}
.search {
  width: 100%;
  position: relative
}
.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: ##050404;
}

.searchTerm:focus{
  color: #050404;
}

.searchButton {
  position: absolute;  
  right:0px;
  width: 30px;
  height: 31px;
  text-align: center;
  color:#ff5560;
  cursor: pointer;
  font-size: 16px;
  top: 0px!important;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 15%;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
  float: right !important;
  z-index: 10;

}
button:not(.primary) {
    box-shadow:none!important;
}
.search button{
    background: none!important;
    border: none!important;
    padding: 0!important;
}
.minicart-wrapper .action.showcart::before{
    color:#ff5560!important;
}
.ves-masstop .ves-widget .block-title strong::before,
 .ves-masstop .block-new-products .block-title strong::before {
    top:5px!important;
}
.ves-masstop .ves-widget .block-title strong::after,
.ves-masstop .block-new-products .block-title strong::after{
    top: 5px!important;
}
.ves-massbottom:hover .owl-controls .owl-nav > div,
.ves-massbottom:hover .owl-nav > div{
    top:26%!important;
}
.minicart-wrapper{
    padding: 21px 6px 22px!important;
}
.minicart-wrapper .block-minicart {
    right: -20px!important;
}
.custom-group-account .block-custom2{
    min-width: 200px!important;
    right: 0%;
}
.custom-group-account .action.icon-custom2{
    padding: 0 30px!important;
    height: 64px!important;
}
.custom-group-account .block-custom2::before{
    left:160px!important;
}
.custom-group-account .block-custom2::after{
    left:160px!important;
}
.navigation .level0.parent > a::after{
    position: relative!important;
    left:12px;
}
.sidebar .product-items .product-item{
    margin-bottom:0px!important;
}
.category-image .image{
    width: 100%;
}
.additional-attributes th{
    width: 25%;
}
.product-block .product-image .product-item-actions .actions-primary .tocart{
    height: 35px!important;
    width: 100px!important;
    background: #ff5560 !important;
}
.navigation .level0 .submenu .active > a{
    border-color: #ff5560!important;
}
.page-header .ves-header .grid-07 {
    width: 53%!important;
}
.page-main .page-title-wrapper{
    margin-top: 0px!important;
    margin-bottom: 15px!important;
}
.breadcrumbs .items > li{
    top:-18px!important;
    left: 70px!important;
}

/*mobile view*/
@media only screen and (max-width:767px){
    .custom-footer .block{
        width: 100%;
    }
    .wrap {
    width: 35%;
    top: 100%;
    left: 20%;
}
/*.minicart-wrapper{
    margin-top:30px;
}*/
.ves-slideshow{
    margin-top:10px!important;
}
.page-header .ves-header .grid-02{
 padding: 4px 0 !important;
 text-align: center !important;
}
.custom-footer .block{
    padding: 0px 10px 0!important; 
}
.block-search {
    padding: 0px !important;
    margin-top: 0 !important;
    width: 240px!important;
}
.searchButton{
    top: 0px!important;
    right:0px!important;
}
.page-products .sorter {
    position: relative;
}
.ves-masstop .ves-widget .block-content .etabs{
    padding-left: 0 !important;
}
.products-grid .product-item{
    width: 100%;
}
.navigation .level0 .submenu {
    top:0!important;
}
.sidebar .block.filter{
    display: none;
}
.product-item-details{
    text-align: center !important;
}
/*.sidebar .product-items .product-item-details{
    text-align: center!important;
}*/
.product-block .product-item-info{
    padding:10px !important;
}
.columns .column.main{
    width:123%!important;
}
.columns .sidebar-additional{
    width: 136%!important;
    flex: auto !important;
}
.product-info-main .product-info-stock-sku{
    padding-left: 15px;
}
.sidebar .product-items .product-item-info{
    text-align: center!important;
}
.page-main{
    margin-top: 60px!important;
}
.page-products .columns{
    padding-top: 0px!important;
}
.catalog-product-view .box-tocart .actions{
    display: unset;
}
.product-social-links{
    margin-top: -30px;
    text-align: left;
}
.page-product-configurable .product-info-main{
   margin-left: 15px;
    margin-right: 15px;
}
.catalog-product-view .page-main .page-title-wrapper h1{
    margin-top: 15px;
}
.product.data.items{
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.account .messages {
    margin-top: 40px;
}
/*.sidebar .product-image-container{
    display: grid!important;
}*/
.sidebar .product-items .product-item-details{
    width: 60%!important;
}
 .sidebar .block-new-products .product-items .product-item-details{
    text-align: center!important;
}
.minicart-wrapper{
    padding: 0 !important;
    margin-right:0 !important;
}
.page-products .sorter{
    top:-30px;
    position: relative!important;
}
.toolbar{
   padding-top: 20px !important;
   padding-bottom: 0px !important;
}
.filter-title strong{
    top: 15%!important;
}
.page-main .footer-top{
    /*margin-top: 10px!important;*/
    margin-bottom: 0px !important;
}
.page-footer .footer-top {
    padding-bottom: 0px!important;
}
.page-footer .footer-top {
    margin-top: 10px !important;
}
.columns .column.main {
    padding-bottom: 0px!important;
}
.header.content {
    display: none;
}
.page-header .ves-header .grid-03 .account_login_group{
    display: block !important;
    padding-right:15px !important;
}
.custom-group-account .action.icon-custom2 {
    padding: 0px !important;
    height: 0 !important;
}
.account_login_group{
    margin-left: -45px !important;
}
.minicart-wrapper{
    left: -15px !important;
    top:15px !important;
}
.custom-group-account .block-custom2{
    min-width: 180px !important;
    right: -25%;
    top: 37px;
}
.block-search .actions{
    top:20%!important;
}
.page-header .ves-header .grid-03 {
    margin: 0 !important;
}
.catalog-category-view .toolbar.toolbar-products:last-child,
.catalogsearch-result-index .toolbar.toolbar-products:last-child {
    display: none !important;
}
.catalogsearch-result-index .results .sorter {
    top: -10px !important;
}
.catalogsearch-result-index .toolbar-amount {
    padding: 20px 0 !important;
}
.nav-sections-item-title  {
        width: 100%!important;
    }
    [aria-controls~="store.settings"], [aria-controls~="store.links"] {
        display: none!important;
    }
    .nav-sections-item-content{
        padding: 0 !important;
    }
    .page-header .nav-sections{
        background:#fff !important;
    }
    .navigation .level0.parent > a::after {
    position: absolute !important;
    left: auto !important;
    }

}
/*mobile view end*/

.brand-slider .owl-controls .owl-nav .left,
.brand-slider .owl-controls .owl-nav .right{
    border: none!important;
}
.block-compare .action.primary:hover{
    color: #090909 !important;
    text-decoration: underline;
}
.block-compare .action.primary:not(:focus){
    box-shadow:none!important;
}
.block-collapsible-nav .item.current a, .block-collapsible-nav .item.current > strong{
    border-color: #ff5560!important;
}
.cart.table-wrapper .col.qty{
    text-align: unset;
}
.cart.table-wrapper .col.price, .order-items.table-wrapper 
.col.price, .cart.table-wrapper .col.qty, .order-items.table-wrapper 
.col.qty, .cart.table-wrapper .col.subtotal, .order-items.table-wrapper 
.col.subtotal, .cart.table-wrapper .col.msrp, .order-items.table-wrapper .col.msrp{
    text-align: initial!important;
}
.minicart-items .product-item-details{
    overflow: visible!important;
}
.block-search input{
    left:0!important;
    margin:0!important; 
    position: initial;
}
.page-footer .footer-top .page-main{
    margin-top: 0 !important;
}
.minisearch .label{
    display:none!important;

}
.block-search .control{
    border-top:none !important;
}
.search-autocomplete{
    margin-top: 0px!important;
}
/*.block-viewed-products-list .product-image-wrapper{
    overflow: unset!important;
    top: 35px!important;
}
.block-wishlist .product-image-wrapper{
    overflow: unset!important;
    top: 35px!important;
}*/

/*ipad view*/

@media only screen and (min-width:768px) and (max-width: 1024px){
    .custom-footer .block{
        width:17%!important;
    }
    .wrap {
     right: 75px;
     top: 35%;
     }
     .logo img {
      margin: 5px 0 0 50px;
     }
    .minicart-wrapper {
    position: absolute!important;
    padding: 0px !important;
    margin-top: 18px !important;
     }
    .page-header .ves-header .grid-03{
    margin: -50px 85px;
     }
    .nav-toggle {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 15px;
    position: absolute;
    top: 6px;
    z-index: 14;
    display: block !important;
   }
.page-header .ves-header .grid-02 {
    padding: 0px 0px !important;
}
.navigation {
    padding: 0;
}
.navigation .parent .level-top {
    position: relative;
    display: block;
    text-decoration: none;
}
.navigation .parent .level-top:after {
    -webkit-font-smoothing: antialiased;
    font-size: 42px;
    line-height: inherit;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.navigation .parent .level-top:after {
    position: absolute;
    right: 7px;
    top: -8px;
}
.navigation .parent .level-top.ui-state-active:after {
    content: '\e621'}
.nav-sections {
    -webkit-overflow-scrolling: touch;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    transition: left .3s;
    height: 100%;
    left: -80%;
    left: calc(-1 * (100% - 54px));
    overflow: auto;
    position: fixed;
    top: 0;
    width: initial !important;
    width: calc(100% - 54px);
    background: #fff ! important;
}
.nav-sections .switcher {
    border-top: 1px solid #d1d1d1;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    padding: .8rem 3.5rem .8rem 2rem;
}
.nav-sections .switcher .label {
    display: block;
    margin-bottom: 5px;
}
.nav-sections .switcher:last-child {
    border-bottom: 1px solid #d1d1d1;
}
.nav-sections .switcher-trigger strong {
    position: relative;
    display: block;
    text-decoration: none;
}
.nav-sections .switcher-trigger strong:after {
    -webkit-font-smoothing: antialiased;
    font-size: 42px;
    line-height: inherit;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.nav-sections .switcher-trigger strong:after {
    position: absolute;
    right: -40px;
    top: -16px;
}
.nav-sections .switcher-trigger.active strong:after {
    content: '\e621'}
.nav-sections .switcher-dropdown {
    margin: 0;
    padding: 0;
    list-style: none none;
    padding: 10px 0;
}
.nav-sections .header.links {
    margin: 0;
    padding: 0;
    list-style: none none;
    border-bottom: 1px solid #d1d1d1;
}
.nav-sections .header.links li {
    font-size: 1.6rem;
    margin: 0;
}
.nav-sections .header.links li.greet.welcome {
    border-top: 1px solid #d1d1d1;
    font-weight: 700;
    padding: .8rem 20px;
}
.nav-sections .header.links li>a {
    border-top: 1px solid #d1d1d1;
}
.nav-sections .header.links a, .nav-sections .header.links a:hover {
    color: #575757;
    text-decoration: none;
    display: block;
    font-weight: 700;
    padding: .8rem 20px;
}
.nav-sections .header.links .header.links {
    border: 0;
}
.nav-before-open {
    height: 100%;
    overflow-x: hidden;
    width: 100%}
.nav-before-open .page-wrapper {
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    transition: left .3s;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
}
.nav-before-open body {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%}
.nav-open .page-wrapper {
    left: 0%!important;
    left: calc(100% - 54px);
}
.nav-open .nav-sections {
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -ms-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    left: 0;
    z-index: 99;
}
.nav-open .nav-toggle:after {
    background: rgba(0, 0, 0, 0.7);
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.nav-sections-items {
    position: relative;
    z-index: 1;
}
.nav-sections-items:before, .nav-sections-items:after {
    content: '';
    display: table;
}
.nav-sections-items:after {
    clear: both;
}
.nav-sections-item-title {
    background: #f2f2f2;
    border: solid #e6e6e6;
    border-width: 0 0 1px 1px;
    box-sizing: border-box;
    float: left;
    height: 71px;
    padding-top: 24px;
    text-align: center;
    width: 33.33%
}
.nav-sections-item-title.active {
    background: transparent;
    border-bottom: 0;
}
.nav-sections-item-title .nav-sections-item-switch:hover {
    text-decoration: none;
}
.nav-sections-item-content {
    box-sizing: border-box;
    float: right;
    margin-left: -100%;
    margin-top: 71px;
    width: 100%;
    padding:0px !important;
}
.nav-sections-item-content:before, .nav-sections-item-content:after {
    content: '';
    display: table;
}
.nav-sections-item-content:after {
    clear: both;
}
.nav-sections-item-content.active {
    display: block;
}
.navigation {
    background: #fff;
    box-sizing: border-box;
}
.navigation ul {
    margin: 0;
    padding: 0;
}
.navigation li {
    margin: 0;
}
.navigation a {
    display: block;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 15px;
}
.navigation a, .navigation a:hover {
    color: #575757;
    text-decoration: none;
}
.navigation .level0>.level-top {
    font-weight: 700;
    padding: 8px 40px 8px 15px;
    text-transform: uppercase;
    word-wrap: break-word;
    line-height:40px !important;
}
.navigation .level0.active .all-category .ui-state-focus {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #333;
    padding-left: 7px;
    display: inline-block;
}
.navigation .level0>.level1 {
    font-weight: 600;
}
.navigation .level0.active>a:not(.ui-state-active), .navigation .level0.has-active>a:not(.ui-state-active) {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #333;
}
.navigation .level0.active>a:not(.ui-state-active) span:not(.ui-menu-icon), .navigation .level0.has-active>a:not(.ui-state-active) span:not(.ui-menu-icon) {
    margin-left: -8px;
}
.navigation li.level0:last-child {
    border-bottom: 1px solid #d1d1d1;
}
.navigation .submenu>li {
    word-wrap: break-word;
}
.navigation .submenu:not(:first-child) {
    font-weight: 400;
    line-height: 1.3;
    left: auto !important;
    overflow-x: hidden;
    padding: 0;
    position: initial !important;
    top: auto !important;
    transition: left .3s ease-out;
}
.navigation .submenu:not(:first-child)>li>a {
    padding-left: 15px;
}
.navigation .submenu:not(:first-child)>li:last-child {
    margin-bottom: 0;
}
.navigation .submenu:not(:first-child) ul {
    display: block;
    padding-left: 15px;
}
.navigation .submenu:not(:first-child) ul>li {
    margin: 0;
}
.navigation .submenu:not(:first-child) ul>li a {
    color: #575757;
    display: block;
    line-height: normal;
}
.navigation .submenu:not(:first-child).expanded {
    display: block !important;
    padding-right: 0;
    top: 0 !important;
}
.navigation .submenu:not(:first-child) .active>a {
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 0 8px;
    color: #333;
    padding-left: 7px;
}
.navigation .submenu:not(:first-child) .level1.active>a {
    padding-left: 7px;
}
.nav-sections .switcher-trigger strong:after {
    font-size: 1.6rem;
    right: -25px;
    top: -2px;
}
.navigation .parent .level-top:after {
    font-size: 1.6rem;
    right: 10px;
    top: 7px;
}
.navigation .level0{
    display: inherit !important;
    border-top: 1px solid #d1d1d1 !important;
    font-size: 1.6rem;
}
.nav-sections-item-title {
    display:block !important;
}
.nav-sections-item-title  {
        width: 100%!important;
    }
    [aria-controls~="store.settings"], [aria-controls~="store.links"] {
        display: none!important;
    }
    .navigation .level0 .submenu {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    font-weight: 400;
    min-width: 230px;
    padding: 15px 0;
    display: none;
    left: 0;
    margin: 0 !important;
    padding: 0;
    position: absolute;
    z-index: 1;
    margin-top: 11px;
}
.custom-group-account .block-custom2{
    top: 60%;
    right:5px;
}
.custom-group-account .block-custom2 {
    margin-top: -18px !important;
}
.minicart-wrapper::before, .minicart-wrapper::after{
    margin-top: 4px!important;
}
.navigation .level0.parent > a::after {
    position: absolute !important;
    left: auto !important;
    }
    .sidebar .product-items .product-item{
        display: inherit!important;
    }
    .sidebar .block-new-products .product-items .product-item{
        display: inline-block!important;
    }
    /*#products-menu {
    display: none !important;
   }
   .level-top .ui-corner-all .ui-state-active{
    display: block !important;
   }*/

}
/*ipad view end*/

.cart-summary{
    position: static!important;
}
.minicart-wrapper .block-minicart::before, .minicart-wrapper .block-minicart::after{
    right: 10px ! important;
}
@media only screen and (min-width:640px){
.page-products .products-grid .product-item {
    width: 100%;
}
}